<!-- Default Statcounter code for ShouvikBasak.net
https://www.shouvikbasak.net/ -->
<script type="text/javascript">
    var sc_project=12955710; 
    var sc_invisible=1; 
    var sc_security="df678346"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js"
    async></script>
    <noscript><div class="statcounter"><a title="Web Analytics
    Made Easy - Statcounter" href="https://statcounter.com/"
    target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/12955710/0/df678346/1/"
    alt="Web Analytics Made Easy - Statcounter"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->